.reqgathering{
    padding: 20px 100px 40px 100px;
    /* width: 1639px; */
    height: auto;
    border: 1px solid #EEEEF0;
    margin:50px 50px 10px 200px ;
    border-radius: 5px;
    box-shadow: 12px 15px 10px -18px #EEEEF0; 
    background: #EEEEF0 0% 0% no-repeat padding-box;
    opacity: 1;
    /* top: 173px;
left: 141px;
width: 1639px;
height: 846px; */
   
}
input[type="checkbox"] {
   box-shadow: 2px 2px 2px #00000029; 
   width: 1.3em;
   height: 1.3em;
   background-color: white;
   border-radius: 5px;
   vertical-align: middle;
   border: 1px solid #ddd;
  margin-bottom: 5px;
   -webkit-appearance: none;
   outline: none;
align-items: center;


}
input[type="checkbox"]:checked {
background-color: #2E384D;

}
.input-group-text{
    box-shadow: 5px 5px 5px #00000029; 
}
.form-control{
    box-shadow: 5px 5px 5px #00000029;
    -webkit-appearance: none;
    outline: none;
}
.form-label {
    margin-bottom: 0.5rem;
    color: #8c98a9;
    font-weight: 500;
}
.p-text{
    text-align: center;
    margin: 80px 0px 0px 0px ;
  color: #2E384D;
    font-weight: 700;
    font-family: 'Segoe UI';
    font-size: x-large;

}
.buttons {
    background: #A99A77 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
width: 272px;
height: 40px;
text-decoration: none;
border: none;
    font-size: 16px;
    color: white;
    margin-left: 200px;
    margin-top: 10px;
  }
.heading{
    font-family: 'Segoe UI', 'Regular';
    margin-top: 10px;
   
    width: fit-content;
    font-size: medium;
    color: #2E384D ;
    
}
.headingright{
    font-family: sans-serif;

    border-bottom: 1px solid beige;
    width: fit-content;
    font-size: small;
}
